{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/security/sign-in.css">
{% endblock %}


{% block bodyClass %}text-center{% endblock %}
{% block body %}
    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="/assets/img/Logo_Magnum_Black.png" alt="" width="200">
            <h1 class="h3 mb-3 fw-normal">Inscription sur le site</h1>

            {{ form_start(form) }}

                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}

                {{ form_row(form.birthday) }}

                {{ form_row(form.email) }}

                {{ form_row(form.address) }}
                {{ form_row(form.zipcode) }}
                {{ form_row(form.city) }}

                {{ form_row(form.password) }}


                <button class="w-100 btn btn-lg btn-success" type="submit">Inscription</button>
            {{ form_end(form) }}

            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>

            
            <p class="mt-5 mb-3 text-body-secondary">&copy; {{ "now"|date('Y', timezone="Europe/Paris") }} - SAF Magnum</p>
        </form>
    </main>
{% endblock %}
