<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="/assets/bootstrap-5.3.0/css/bootstrap.min.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block body %}{% endblock %}
        
        <!-- Scripts -->
        <script src="/assets/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
